html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

select {
  padding: 5px;
  margin: 0 5px;
  font-weight: bold;
  border-radius: 5px;
}

select:hover {
  cursor: pointer;
}

button {
  padding: 10px;
  font-size: 1.25rem;
  font-weight: bold;
  border: 1px solid #333;
  -webkit-box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.7);
  box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.7);
  background-color: #4385f5;
  color: white;
  transition: 0.2s all ease-out;
  /* border-radius: 5px; */
}

button:hover {
  background-color: #5c95f6;
  cursor: pointer;
}

input {
  padding: 3px;
}
